/*
Error: Undefined variable: "$bp-larger-than-phablet".
        on line 134 of scss/custom/landing.scss

129: .categories .section-description {
130:   margin-bottom: 4rem;
131: }
132: 
133: /* Bigger than 550 *\/
134: @media (#{$bp-larger-than-phablet}) {
135:   header {
136:     .tagline {
137:         font-size: 2rem;
138:         margin-left: .5rem;
139:         margin-right: .5rem;

Backtrace:
scss/custom/landing.scss:134
/usr/lib/ruby/vendor_ruby/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/interpolation.rb:170:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:540:in `block in run_interp_no_strip'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:538:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:538:in `run_interp_no_strip'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:545:in `run_interp'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:510:in `visit_media'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:471:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:328:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$bp-larger-than-phablet\".\A         on line 134 of scss/custom/landing.scss\A \A 129: .categories .section-description {\A 130:   margin-bottom: 4rem;\A 131: }\A 132: \A 133: /* Bigger than 550 */\A 134: @media (#{$bp-larger-than-phablet}) {\A 135:   header {\A 136:     .tagline {\A 137:         font-size: 2rem;\A 138:         margin-left: .5rem;\A 139:         margin-right: .5rem;"; }
